@import "tailwindcss";

/* Fonts */
body, .font-hanken-grotesk {font-family: 'Hanken Grotesk', sans-serif;}
.font-domine {font-family: 'Domine', serif;}

/* Colors */
:root{
    --clr-ebony: #2F362F;
    --clr-white: #F8FAF9;
    --clr-sand:#D9D3C6;
    --clr-celadon: #788978;
}

/* Hide scrollbars*/
*{
  ::-webkit-scrollbar {display: none;}
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
