@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Fonts */
body, .font-hanken-grotesk {font-family: 'Hanken Grotesk', sans-serif;}
.font-domine {font-family: 'Domine', serif;}

body{
  background-image: url('https://images.pexels.com/photos/31803613/pexels-photo-31803613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Colors */
:root{
    --clr-ebony: #08416d;
    --clr-white: #f8faf9df;
    --clr-sand:#D9D3C6;
    --clr-celadon: #0b7fd5;
}

/* Hide scrollbars*/
*{
  ::-webkit-scrollbar {display: none;}
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  transition: 0.5s;
  scroll-behavior: smooth;
}

.shadow-custom{
  box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.75);
}


