@import "tailwindcss";

/* Fonts */
body, .font-hanken-grotesk {font-family: 'Hanken Grotesk', sans-serif;}
.font-domine {font-family: 'Domine', serif;}

body{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20240811/pngtree-scenic-green-rolling-hills-against-the-blue-sky-with-clouds-image_16128338.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/* Colors */
:root{
    --clr-ebony: #08416d;
    --clr-white: #f8faf9ee;
    --clr-sand:#D9D3C6;
    --clr-celadon: #0b7fd5;
}

/* Hide scrollbars*/
*{
  ::-webkit-scrollbar {display: none;}
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  transition: 0.5s;
  scroll-behavior: smooth;
}

/* Box shadow */
.shadow-custom{
  box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.75);
}
