---
import "../styles/globals.css";
import Chatbot from '../components/chatbot'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="generator" content={Astro.generator} />
		<title>Michael Oladosu Alabi | Tribute Page</title>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Flags -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
        <!-- Animations -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    </head>
	<body class="hs relative">
        <Chatbot client:load/>
		<main><slot /></main>
         <script>
            const header = document.getElementById("site-header");

            const onScroll = () => {
                if (window.scrollY > 20) {
                header?.classList.add(
                    "bg-white",
                    "shadow-sm",
                    "dark:bg-neutral-950"
                );
                } else {
                header?.classList.remove(
                    "bg-white",
                    "shadow-sm",
                    "dark:bg-neutral-950"
                );
                }
            };

            window.addEventListener("scroll", onScroll);
        </script>  
        <script>
            document.addEventListener("contextmenu", function(e) {
                e.preventDefault(); // stops the right-click menu
            });
        </script>      
        <script defer src="https://cloud.umami.is/script.js" data-website-id="d6387639-98fd-44be-87a6-11545f4e487f"></script>
	</body>
</html>
